$black: #000;
$white: #fff;

$pink: #f7a191;
$dark-pink: #be695b;
$purple: #886da0;
$purple_rgba: rgba(136,109,160,0.59);
$dark-purple: #5f5369;
$light-grey: #f8f8f8;
$grey: #7f8c8c;
$dark-grey: #e5e6e6;
$footer-text: #b3a6bf;

$font-family: 'Open Sans', sans-serif;
$serif-font-family: serif;
