html, body {
  height: auto;
  min-height: 100%;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-family: $font-family;
  position: relative;
}

* {
  box-sizing: border-box;
}

.noscroll {
  overflow: hidden;
}

.container {
  position: relative;
  max-width: 100%;
  width: 1024px;
  margin: 0 auto;
  @include transition(width 250ms ease-in-out);

  @media (max-width: 1024px) {
    width: 960px;
    padding: 0 30px;
  }

  @media (max-width: 960) {
    width: 768px;

  }
}

.main {
  height: 100%;
  position: relative;

  hr {
    width: 1024px;
    max-width: 90%;
    margin: 0 auto;

  }

  section {
    min-height: 500px;
    position: relative;
    z-index: 2;
    background-color: $white;
    padding: 50px 0;

    @media (max-width: 768px) {
      min-height: auto;
    }


    .section-title {
      color: $purple;
      font-style: italic;
      text-align: center;
      margin: 0 0 20px 0;
      font-size: 22px;

      &.extrabold {
        font-style: normal;
        font-weight: 800;
      }
    }

    .section-subtitle {
      text-align: center;
      margin: 0 0 20px 0;
    }

    &.home {
      width: 100%;
      height: 100vh;
      background-image: url(../../images/hero.jpg);
      background-position: center;
      background-size: cover;
      z-index: 0;
      position: relative;

      @media (max-width:768px) {
        background-position: -250px;
      }

      .container {
        height: 100%;

        .floating-box {
          position: absolute;
          top: 25%;
          right: 0;
          height: auto;
          width: 500px;
          padding: 50px;
          background-color: $purple_rgba;
          color: $white;
          text-shadow: 0 1px 0 rgba(0, 0, 0, 0.4);
          line-height: 1.2em;

          @media (max-width: 768px) {
            width: 100%;
            top: initial;
            bottom: -30px;
            padding: 50px 30px;
          }

          a {
            display: block;
            font-weight: 700;
            color: $white;
            text-decoration: none;
            margin: 10px 0 0 0;
          }
        }
      }
    }

    &.about {

      .container {
        @include display-flex();
        @include flex-direction(row);
        @include flex-wrap(nowrap);

        @media (max-width: 768px) {
          @include flex-wrap(wrap);
          @include justify-content(center);
        }

        .about-copy {
          @include flex-grow(1);
          width: 70%;
          font-size: 17px;
          padding: 0 30px 0 0;

          @media (max-width: 768px) {
            @include flex-grow(1);
            @include flex-shrink(0);
            width: 100%;
            padding: 0;
          }

          .section-title {
            text-align: left;
            font-size: 22px;
          }

          p {
            line-height: 1.2em;
          }
        }
        .location {
          @include display-flex();
          @include flex-direction(row);
          @include flex-wrap(wrap);
          @include flex-grow(1);
          width: 30%;
          min-width: 260px;
          background-color: $light-grey;
          border-bottom: 3px solid $dark-grey;
          border-radius: 3px;
          font-size: 12px;
          line-height: 1.2em;
          padding: 20px 35px;

          @media (max-width: 768px) {
            @include flex-shrink(0);
            @include flex-grow(0);
            width: 70%;
            margin: 30px 0 0 0;
          }

          .section-title {
            @include flex-grow(1);
            @include flex-shrink(0);
            width: 100%;
            font-size: 16px;
            text-align: left;
            margin: 0 0 5px 0;
          }

          .info {
            @include flex-grow(1);
            width: 100%;

            @media (max-width: 768px) {
              @include flex-grow(0);
              @include flex-shrink(1);
              width: auto;
              margin: 0 20px 20px 0;

            }

            .address {

            }
            .fax {
              span {
                font-style: italic;
              }
            }
            .phone {
              span {
                font-style: italic;
              }
            }
          }

          .map {
            @include flex-grow(1);
            width: 100%;
            margin: 20px 0;

            @media (max-width: 768px) {
              @include flex-grow(0);
              @include flex-shrink(1);
              width: auto;
              margin: 0 0 20px 0;
            }

            img {
              max-width: 100%;
            }
          }

          .hours {
            @include display-flex();
            @include flex-direction(row);
            @include flex-wrap(wrap);
            @include flex-grow(1);
            width: 100%;
            line-height: 1.2em;

            span {
              @include flex-shrink(1);
              @include flex-grow(1);
              width: 50%;

              &:nth-child(even) {
                @include align-self(flex-end);

              }

              &:nth-child(odd) {
                @include align-self(flex-start);
              }
            }
          }
        }
      }
    }

    &.videos {
      background-image: url(../../images/pink-bg.jpg);
      background-position: center;
      background-size: cover;

      .section-title {
        margin: 5px 0 0 0;
      }

      .carousel {

        .slick-prev,
        .slick-next {
          border-right: 4px $white solid;
          border-bottom: 4px $white solid;

          &:before {
            content: '';
          }
        }

        .slick-prev {
          left: -10px;
          @include transform(rotate(135deg));
        }

        .slick-next {
          right: -10px;
          @include transform(rotate(-45deg));
        }

        .slick-track {

          .item {
            display: none;
            position: relative;
            padding: 40px 0;
            right: 0;
            top: 0;
            left: 0;

            @media (max-width: 768px) {
              padding: 0 20px;
            }

            @include transition(right 100ms ease-in-out, left 100ms ease-in-out, top 200ms ease-in-out);

            &.prev {
              left: initial;
              right: -100px;

              @media (max-width: 768px) {
                right: 0;
              }
            }

            &.slick-active {
              z-index: 1;
              top: -40px;

              @media (max-width: 768px) {
                z-index: 0;
                top: 0;
              }
            }

            &.next {
              right: initial;
              left: -100px;

              @media (max-width: 768px) {
                left: 0;
              }
            }

            &:focus {
              outline:none;
            }

            img {
              position: relative;
              margin: 0 auto;
              width: 100%;
              @include box-shadow(3px 3px 4px 5px rgba(0,0,0,0.4));

              @media (max-width: 768px) {
                @include box-shadow(none);
              }
            }

            .play {
              position: absolute;
              height: 100%;
              width: 100%;
              top: 0;
              left: 0;
              text-align: center;
              @include display-flex();
              @include flex-direction(row);
              @include align-items(center);
              @include justify-content(center);

              svg {
                @include align-self(center);
                opacity: 0.6;
                cursor: pointer;
              }
            }
          }
        }

        .slick-dots {

          li {
            color: $white;

            &.slick-active {
              color: $black;
            }
          }
        }

        &.slick-initialized {

          .slick-track {

            .item {
              display: block;
            }
          }
        }
      }
    }

    &.forms {
      position: relative;
      .container {
        position: relative;
        height: 100%;

        ul {
          @include display-flex();
          @include flex-wrap(wrap);
          @include flex-direction(row);

          li {
            @include flex-grow(1);
            width: 45%;
            padding: 20px 0;
            display: block;
            border-bottom: 1px solid $light-grey;

            &:nth-child(odd) {
              margin: 0 5% 0 0;
            }

            &:nth-child(even) {
              margin: 0 0 0 5%;
            }

            h1 {
              color: $grey;
              font-weight: 800;
              font-size: 22px;
              margin: 0 0 5px 0;
            }

            a {
              color: $pink;
              text-decoration: none;

              &:hover {
                text-decoration: underline;
              }
            }
          }

          @media (max-width: 768px) {
            @include flex-direction(column);
            @include flex-wrap(nowrap);
            @include align-items(center);

            li {
              width: auto;

              &:nth-child(odd),
              &:nth-child(even) {
                margin: 0;
              }
            }
          }
        }

        .injection-training {
          text-align: center;

          a {
            display: block;
            max-width: 100%;

            img {
              max-width: 100%;
            }
          }
        }
      }
    }

    &.request {

      .container {
        @include display-flex();
        @include align-items(center);
        @include flex-direction(column);

        form {
          padding: 40px;
          background-color: $pink;
          border-radius: 5px;
          width: 60%;
          min-width: 300px;
          text-align: center;

          .group {
            position:relative;
            margin-bottom:40px;

            input {
              background-color: $pink;
              font-size: 16px;
              padding: 10px 10px 10px 5px;
              display: block;
              width: 100%;
              border: none;
              border-bottom: 1px solid $white;

              &:focus {
                outline: none;
              }

            }

            label {
              color: $white;
              font-size: 16px;
              font-weight: normal;
              position: absolute;
              pointer-events: none;
              left: 5px;
              top: 10px;
              @include transition(0.2s ease all);
            }

            input:focus ~ label,
            input:valid ~ label     {
              top: -20px;
              font-size: 14px;
              color: $purple;
            }

            .bar {
              position: relative;
              display: block;
              width: 100%;

              &:before,
              &:after   {
                content: '';
                height: 3px;
                width: 0;
                bottom: 1px;
                position: absolute;
                background: $purple;
                @include transition(0.2s ease all);
              }

              &:before {
                left: 50%;
              }

              &:after {
                right: 50%;
              }
            }

            /* active state */
            input:focus ~ .bar:before,
            input:focus ~ .bar:after {
              width: 50%;
            }

            &.datepicker {

              input {
                padding: 10px 10px 10px 60px;
              }

              label {
                left: 60px;
              }

              input:focus ~ label,
              input:valid ~ label {
                left: 5px;
              }

              button.ui-datepicker-trigger {
                position: absolute;
                left: 0;
                top: 0;
                background-color: transparent;
                border: none;
              }

            }

            ::-webkit-datetime-edit {

            }

            ::-webkit-calendar-picker-indicator {
              display: block;
              background-image: url(/images/calendar-icon.png);
            }
          }

          input[type=submit] {
            padding: 15px 40px;
            background-color: $dark-pink;
            border: none;
            border-radius: 4px;
            color: $white;
            font-size: 18px;
            text-transform: lowercase;
            cursor: pointer;
            -webkit-appearance: none;
          }
        }
      }
    }

    &.page {
      padding-top: 200px;
      z-index: 0;
    }
  }
}

.overlay {
  height: 100%;
  width: 100%;
  background-color: rgba(0,0,0,0.4);
  display: none;
  position: fixed;
  z-index: 9999;
  top: 0;
  bottom: 0;
  overflow: hidden;
  @include flex-direction(row);
  @include align-items(center);
  @include justify-content(center);

  &.active {
    @include display-flex();
  }

  .close {
    text-align: right;
    color: $white;
    cursor: pointer;
  }

  video {
    max-width: 100%;
  }
}


