$black: #000;
$white: #fff;
$pink: #f5a197;
$dark-pink: #d58a7e;
$purple: #886da0;
$purple_rgba: rgba(136,109,160,0.59);
$grey: #838847;

$font-family: 'Open Sans', sans-serif;
$serif-font-family: serif;
