$black: #000;
$white: #fff;

$pink: #f7a191;
$purple: #886da0;
$purple_rgba: rgba(136,109,160,0.59);
$light-grey: #f8f8f8;
$grey: #7f8c8c;
$dark-grey: #e5e6e6;

$font-family: 'Open Sans', sans-serif;
$serif-font-family: serif;
